<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="scss/main.css">
</head>
<body>

<header class="header">
    <div class="header__buttons-container">
        <div class="header__item header__item--back-link"></div>
        <div class="header__item header__item--user"></div>
    </div>
</header>

<div class="content-container">

    <div class="pull">
        <div class="pull__question ">
            <div class="pull__question">Cколько раз вы были на концертах Red hot chili pappers?</div>

            <label>
                <input type="radio" name="answer" value="0" checked>
                <div class="pull__item">Не был
                    <div class="pull__icon"></div>
                </div>
            </label>
            <label>
                <input type="radio" name="answer" value="1">
                <div class="pull__item">a1-3 раза
                    <div class="pull__icon"></div>
                </div>

            </label>
            <label>
                <input type="radio" name="answer" value="3">
                <div class="pull__item">
                    4 и более раз
                    <div class="pull__icon"></div>
                </div>
            </label>

            <button type="submit" class="pull__submit-btn">Ответить</button>
        </div>
        <div class="pull__question disabled-block">
            <div class="pull__question">Как настроение?</div>
            <label>
                <input type="radio" name="answer" value="0" checked>
                <div class="pull__item"><i class="emoji emoji--smile"></i>
                    <div class="pull__icon"></div>
                </div>
            </label>

            <label>
                <input type="radio" name="answer" value="0" checked>
                <div class="pull__item"><i class="emoji emoji--poker-face"></i>
                    <div class="pull__icon"></div>
                </div>
            </label>

            <label>
                <input type="radio" name="answer" value="0" checked>
                <div class="pull__item"><i class="emoji emoji--sad"></i>
                    <div class="pull__icon"></div>
                </div>
            </label>

            <button type="submit" class="pull__submit-btn">Ответить</button>
        </div>
        <div class="pull__thanku-message">Спасибо за ваш ответ! <br/>Приятного время препровождения!</div>
    </div>
</div>

<footer class="footer-menu">
    <div class="footer-menu__item footer-menu__item--text"></div>
    <div class="footer-menu__item footer-menu__item--video"></div>
    <div class="footer-menu__item footer-menu__item--fire active"></div>
    <div class="footer-menu__item footer-menu__item--performance"></div>
    <div class="footer-menu__item footer-menu__item--emergency"></div>
</footer>

<script src="js/script.js"></script>

</body>
</html>