<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="scss/main.css">

</head>
<body>

<header class="header">
    <div class="header__buttons-container">
        <div class="header__item header__item--back-link"></div>
        <div class="header__item header__item--user"></div>
    </div>
</header>

<div class="content-container">
    <div class="content-container__title">
        Электронный билет
    </div>

    <div class="ticket">

        <div class="ticket__title">
            Red hot chili pappers
        </div>

        <div class="ticket__date">
            24 Марта, 20:00
        </div>

        <div class="ticket__place">
            БСА Лужники
        </div>



        <div class="ticket__qr">
            <img src="img/qr.png" alt="">
        </div>
    </div>





</div>





<footer class="footer-menu">
    <div class="footer-menu__item footer-menu__item--text"></div>
    <div class="footer-menu__item footer-menu__item--video"></div>
    <div class="footer-menu__item footer-menu__item--fire active"></div>
    <div class="footer-menu__item footer-menu__item--performance"></div>
    <div class="footer-menu__item footer-menu__item--emergency"></div>
</footer>

<script src="js/canvasjs.min.js"></script>

<script src="js/chart.js"></script>
<script src="js/script.js"></script>

</body>
</html>