@import "mixins";
@import "header";
@import "auth-form";
@import "footer-menu";
@import "fire-button";
@import "fire-block";
@import "song-text";
@import "performance";
@import "news-list-item";
@import "news-list";
@import "monitoring";
@import "ticket";
@import "pull";
@import "footer-chart";

@font-face {
  font-family: CorpidOT-Regular;
  src: url("../fonts/CorpidOT-Regular.otf") format("opentype");
}


* {
  box-sizing: border-box;
}

html, body {
  font-family: Arial, sans-serif;
  padding: 0;
  margin: 0;
}

.content-container {
  padding: 30px 20px 80px;
  overflow-y: scroll;
  height: calc(100% - 130px);
  position: absolute;
  width: 100%;

  &__title {
    font-size: 14px;
  }
}

.disabled-block {
  display: none;
}

.canvasjs-chart-credit {
  display: none !important;
}

.radio-btn {

}