$gray-color: #e4e5e6;

@mixin count {
  font-size: 48px;
  color: #f15522;
  font-family: Arial, sans-serif;
  text-align: center;
  margin-bottom: 56px;
  position: relative;

  span {
    display: inline-block;
    position: relative;

    &:before {
      position: absolute;
      left: -30px;
      top: 10px;
      content: '';
      width: 20px;
      height: 30px;
      display: block;
      background: url("../img/fire-orange.png") no-repeat;
      background-size: contain;
    }
  }


  &.fire {
    animation: fire .3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }
}